Sebastián Arango Crispín - 201921816

# Taller 3 - Modelos de Aprendizaje en Python

## Análisis exploratorio

In [3]:
import pandas as pd
data = pd.read_csv('real_estate_valuation_data_set.csv', index_col=0)
data.shape
data.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,,,,,,,
1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1